@charset "UTF-8";

@media screen and (max-width: 300px) {
    .m-2col {width: 48%;}
    .m-1col {width: 100%;}
    .col: nth-child(2) {margin-right: 0;}
}

header {
	background-color:#000;
	color: #FFF;
    font-size: 20px;
}

nav {
	background-color: #FFF;
	text-align: left;
	padding-top: 15px;
	padding-bottom: 15px;
    padding-left: 25px;
}

nav > a {
	text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
}

nav a:hover, nav a:active, nav a:focus { 
	background-color: #D8D8D8;
	color: #136ACA;
	border-radius: 5px 5px 5px 5px;
}

body {
	background-color: #FFF;
    align-items: center;
    color: #000;
}

.musos > img {
    display: block;
    margin-left: auto;
    margin-right: 5px;
    float: left;
}

a img {
    align-content: center;
}

footer {
	background-color: #000;
	color: #FFF;
    font-size: 10px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 25px;
    width: inherit .container;
    overflow: auto;
    float: left;
}

.container {
	max-width: 100%;
	min-width: 800px;
	height:750px;
	background-color: #FFF;
    color: #000;
    font-family: "Verdana", Times, serif;
	margin-left:auto;
	margin-right:auto;
}

.content {
	width: inherit .container;
	height:750px;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
    color: #000;
	margin-left:auto;
	margin-right:auto;
	background-color:White;
}

.content > h1 {
	font-size: 20px;
	text-align: center;
}

#content > p {
	font-size: 18px;
	text-align: left;
}


#content p {
	float: left;
	margin: 10px;
	text-align: justify;
}

#content img {
	float: left;
	margin-right: 116px;
}

.para {
    background-color: #3F3C3F;
    color: #FFF;
    height: 200px;
    width: 300px;
    margin: 20px 20px 20px 20px;
    padding: 5px 5px 5px 5px;
    float: left;
}

.musos {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 3%;
	padding-right: 3%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 15px;
	background-color: #3F3C3F;
    color: #FFF;
    width: 41.5%;
    display: inline-block;
    float: left;
}

.sponsor {
	float: left;
	width: 45%;
	padding-right: 25px;
    text-align: left;
}

.contactdetails {
	float: right;
    text-align: right;
	max-width: 45%;
	padding-left: 15px;
	padding-right: 55px;
}

.events {
    padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 3%;
	padding-right: 3%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 15px;
	background-color: #000;
    color: #FFF;
    background-color: #3F3C3F;
    width: 41.5%;
    display: inline-block;
}
.headertitle {
    vertical-align: center;
}

.content_home {
    width: inherit .container;
	height: 750px;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
    background-color: #3F3C3F;
    color: #000;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
}

a > img {
    align-content: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.content_home > img {
    float: left;
    margin: 5px 5px 5px 5px;
    
}