@charset "UTF-8";
header {
	background-color:#000;
	color: #FFF;
}

nav {
	background-color: #FFF;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 15px;
}

nav > a {
	text-decoration: none;
	color: #000;
}

nav a:hover, nav a:active, nav a:focus { 
	background-color: #D8D8D8;
	color: #000;
	border-radius: 7px 7px 7px 7px;
	padding: 5px 5px 5px 5px
}

body {
	background-color: #FFF;
    align-content: center;
}

footer {
	background-color: #000;
	color: #FFF;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 10px;
	padding-left: 45px;
	min-height: 190px
}

.container {
	max-width: 100%;
	min-width: 500px;
	background-color: #E9AF1E;	
}

.content {
	padding-top: 15px;
	padding-bottom: 5px;
	padding-left: 35px;
}

.content > h1 {
	font-size: 20px;
	text-align: center;
}

.content > p {
	font-size: 18px;
	text-align: center;
}

.musos {
	content: center;
    text-align: center;
 	float: left;
	padding-top: 20px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 20px;
    margin-left: 30px;
    margin-right: 30px;
	background-color: #F58013;
	opacity: 0.8;
	color: #000000;
	width: 45%;
    display: block;
	
}

.sponsor {
	float: left;
	width: 45%;
	padding-right: 15px;
	padding-left: 55px;
}

.contactdetails {
	float: right;
	max-width: 45%;
	padding-left: 15px;
	padding-right: 55px;
}