@charset "UTF-8";
header {
	background-color:#000;
	color: #FFF;
}

nav {
	background-color: #FFF;
	text-align: left;
	padding-top: 15px;
	padding-bottom: 10px;
    padding-left: 25px;
}

nav > a {
	text-decoration: none;
	color: #000;
    margin-left: 15px;
    margin-right: 15px;
}

nav a:hover, nav a:active, nav a:focus { 
	background-color: #D8D8D8;
	color: #136ACA;
	border-radius: 5px 5px 5px 5px;
}

body {
	background-color: #FFF;
    align-content: center;
    color: #FFF;
}

footer {
	background-color: #000;
	color: #FFF;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 25px;
	min-height: 190px
}

.container {
	max-width: 100%;
	min-width: 500px;
	background-color: #FFF;
    font-family: "Verdana", Times, serif;
}

.content {
	padding-top: 15px;
	padding-bottom: 5px;
	padding-left: 35px;
}

.content > h1 {
	font-size: 20px;
	text-align: center;
}

.content > p {
	font-size: 18px;
	text-align: center;
}

.musos {
	padding-top: 20px;
	padding-bottom: 0px;
	padding-left: 15px;
	padding-right: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
	background-color: #000;
	opacity: 0.8;
	color: inherit;
    max-width: 45%;
    min-width: 400px;
    display: inline-block;
	
}

.sponsor {
	float: left;
	width: 45%;
	padding-right: 25px;
    text-align: left;
}

.contactdetails {
	float: right;
	max-width: 45%;
	padding-left: 15px;
	padding-right: 55px;
}